.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  background-size: cover;
}


.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 1s;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-active.svg);
  transition: opacity 1s;
}

.card__trash-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 20px;
  border: none;
  transition: opacity 1s;
  align-self: end;
  padding: 0;
}

.card__basura-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
