.page {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.page__content {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 880px) {
  .page__section {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 879px) {
  .page__content {
    margin: 0;
  }
}
